.bg-black{
  background-color: black;
}

img{
  width: 100%;
  height: 100%;
}

.font-div{
  width: 30%;
}

/*
///// responsive//// */

@media only screen and (min-width: 768px){
  .font-div{
    padding:56.2px 0px!important;
  }
}
