<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="../images/cv.JPEG" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../stylesheets/style1.css">
    <title>About Me</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sritama Dutta</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
              </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                 <a class="nav-link" href="home1.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="aboutme1.html">About Me</a>
              </li>
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Certificates</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="#">Academic Results</a>
                       <a class="dropdown-item" href="#">Certifications</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="#">Extra Curricular Activities</a>
                 </div>
               </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
      </nav>
    </header>
    <section class="bg-dark" id="header2-3a" data-rv-view="3437">
        <!--  <div class="container" >-->
                   <div class="row no-gutters"  >
                          <div class="col-lg-3"  >
                            <img src="../images/cv.JPEG" alt="Sritama" style="height:395px">
                          </div>

                          <div class="col-lg-8">
                              <div class="d-flex flex-column">
                                    <div class="p-5 bg-dark text-white" style="width:112.25%">
                                       <div class="d-flex flex-row justify-content-between align-items-center">
                                              <h1 class="display-4"> Sritama </h1>
                                              <div><a href="https://www.facebook.com/">Facebook  <i class="fa fa-facebook"></i></div>
                                              <div><a href="https://www.twitter.com/">Twitter  <i class="fa fa-twitter"></i></div>
                                              <div><a href="https://www.youtube.com/">Youtube  <i class="fa fa-youtube"></i></div>
                                              <div><a href="https://www.linkedin.com/">Linkedin  <i class="fa fa-linkedin"></i></a></div>
                                              <div><a href="https://github.com/">Github <i class="fa fa-github"></i></a></div>
                                        </div>
                                    </div>


                          <div class="p-3 text-white style bg-black" style="width:112.25%">
                          MSc Data Engineering Student
                          </div>

                         <div class="d-flex flex-row text-center text-white" style="width:112.25%">
                          <div class="p-4 bg-success font-div" data-toggle="collapse" data-target="#home">
                              <i class="fa fa-home fa-2x d-block"></i> Home
                               </div>

                         <div class="p-4 bg-danger font-div" data-toggle="collapse" data-target="#resume">
                         <i class="fa fa-graduation-cap fa-2x d-block"></i> Resume
                         </div>

                         <div class="p-4 bg-primary font-div" data-toggle="collapse" data-target="#work">
                         <i class="fa fa-folder fa-2x d-block"></i> Work
                         </div>

                         <div class="p-4 bg-warning font-div" data-toggle="collapse" data-target="#contact">
                         <i class="fa fa-envelope fa-2x d-block"></i> Contact
                         </div>

                        </div>

            </div>

        </div>
      </div>
    <section>

    <section>
      <div class=" container bg-dark"  >
      <div class="collapse" id="home"  >
        <div class="p-5 text-white bg-success">
          <h2>My Resume</h2>
          <p>You can find my Resume here</p>
        </div>

        <div class="card card-body">
        <h2>My Skills</h2>
        <p>I am proficient in the following areas</p> <br>

        <h5>Python (Numpy, Pandas, Matplotlib)</</h5>
        <!--<div class="progress mb-4">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>R</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>Machine Learning (Scikit-Learn, Keras, TensorFlow)</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>Big Data (Hadoop, Spark, Pig)</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>SQL</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>Docker</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>HTML</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>CSS</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>Javascript</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        <h5>Git</h5>
        <!--<div class="progress">
          <div class="progress-bar" style="width:100%"></div>
        </div>-->

        </div>

      </div>

      <div class="collapse" id="resume">
        <div class="p-5 text-white bg-danger">
          <h2>My Resume</h2>
          <p>You can find my Resume here</p>
        </div>

      <div class="card card-body">
        <h2> Education and Experience</h2>
        <p>My Education and Work Experience</p>
        <div class="card-deck text-center">
          <div class="card">
            <div class="card-header text-uppercase font-weight-bold"> Master of science in Data Engineering</div>
            <div class="card-body">
              <p class="mb-5">Jacobs University</p>
              <p class="bg-dark text-white p-2"> Machine Learning</p>
              <p class="bg-dark text-white p-2"> Data Analytics</p>
            </div>
            <div class="card-footer">Date: 2018-2020 </div>
          </div>


          <div class="card">
            <div class="card-header text-uppercase font-weight-bold"> Programmer Analyst Trainee</div>
            <div class="card-body">
              <p class="mb-5">Cognizant Technology Solutions</p>
              <p class="bg-dark text-white p-2"> Java development</p>
              <p class="bg-dark text-white p-2"> Oracle Business Intelligence tools</p>
              <p class="bg-dark text-white p-2"> Database Management</p>
              <p class="bg-dark text-white p-2"> SQL</p>
              <p class="bg-dark text-white p-2"> Tableau</p>
              <p class="bg-dark text-white p-2"> MS Office tools</p>
            </div>
            <div class="card-footer">Date: 2017-2018 </div>
          </div>

          <div class="card">
            <div class="card-header text-uppercase font-weight-bold"> Bachelor of Technology in IT (Information Technology)</div>
            <div class="card-body">
              <p class="mb-5"> West Bengal University of technology now (M.A.K.A.U.T), Kolkata, India</p>
              <p class="bg-dark text-white p-2">Cloud Computing</p>
              <p class="bg-dark text-white p-2">HTML5, CSS, Bootstrap, Java, Python</p>
              <p class="bg-dark text-white p-2"> Big Data</p>
            </div>
            <div class="card-footer">Date: 2013-2017 </div>
          </div>

        </div>
      </div>

      </div>

      <div class="collapse" id="work">
        <div class="p-5 text-white bg-primary">
          <h2>My Portfolio</h2>
          <p>Things I have worked on</p>
        </div>
        <div class="card card-body">
          <h2>My Projects</h2>
          <p>Look at my Projects</p>
          <p>This page is under construction</p>

          <div class="row no-gutters">
            <div class="col-lg-4 col-md-4"> <img src="images/sea.jpg" alt="pic"></div>
            <div class="col-lg-4 col-md-4"> <img src="images/Farbe.jpg" alt="pic"></div>
            <div class="col-lg-4 col-md-4"> <img src="images/sea.jpg" alt="pic"></div>
            <div class="col-lg-4 col-md-4"> <img src="images/Farbe.jpg" alt="pic"></div>
            <div class="col-lg-4 col-md-4"> <img src="images/sea.jpg" alt="pic"></div>
            <div class="col-lg-4 col-md-4"> <img src="images/Farbe.jpg" alt="pic"></div>


          </div>
        </div>
      </div>

      <div class="collapse" id="contact">
        <div class="p-5 text-black bg-warning">
          <h2>Contact Me</h2>
          <p>My Contact Details: </p>
          <p>Email: sritamadutta2019@gmail.com</p>
          <p>Current Country of Residence: Germany </p>

        </div>

        <!--<div class="card card-body">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
              <h3>Email: piyush.dongre@yahoo.com</h3>
            </div>
          </div>
        </div> -->
      </div>


    </div>
  </section>
  <section>

    <div class="container" >

    <footer class="p-5 bg-dark text-center">
      <button class="btn"><a href="../documents/Curriculum Vitae.pdf" download>
<i class="fa fa-download fa-2x"></i> Download</a></button>

    </footer>

    </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $('.font-div').click(function(){
        $('.collapse').collapse('hide');
      });
    </script>

  </body>
</html>
