

.carousel {
  width:1200px;
  height:600px;
}
.carousel-caption {
width:400px;
z-index:10;
color:#fff;
text-align:center;
top:50%;
left:65%;
bottom:auto;
-webkit-transform:translate(0, -50%);
-ms-transform:translate(0, -50%);
transform:translate(0, -50%);
}
